body {
  background-color: antiquewhite;
  margin: 20px;
  /* padding: 0; */
}

.navtop {
  text-align: center;
  border-bottom: 1px solid black;
  background:beige
}

.custbg {
  background-color: cadetblue;
}